<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ category }} - Day {{ day }}</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

   <h1>🏋️ {{ category }}</h1>

<h2>📅 Day {{ day }}</h2>

<div class="workout-box">

    <h3>🔥 Today's Workout</h3>

    <h3>{{ workout.focus }}</h3>

    {% for exercise in workout.exercises %}
        <p>🏋️ {{ exercise }}</p>
    {% endfor %}

    <div class="duration">
        ⏱️ Workout Duration: {{ workout.duration }} Minutes
    </div>

    <button class="complete-btn">
        ✓ Mark as Complete
    </button>

</div>

    <br>

    <a href="{{ url_for('workout_days', category=category) }}"
       class="back-btn">
        ← Back to Days
    </a>

</div>

</body>
</html>
